html, body {
  background: url(mac_image.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    width: 100%;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
}

h1{
    font-size: 3rem;
    color: aliceblue;
}

hr {
    margin: 20px auto;
    color: #F05F44;
    border: 3px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.btn-primary{
    border-color: #F05F44;
    background-color: #F05F44;
    color: white;
}

.btn-primary:hover{
    border-color: #F05F44;
    background-color: #F05F44;
    border-width: 4px;
}

.btn {
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

.buffer {
    height: 35rem;
}

